<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Form</title>
</head>
<body>
    <form action="">
        <label for="name">Name : </label>
        <input type="text" name="name" id="name">

        <label for="address">Address: </label>
        <input type="text" name="add" id="address">
        
        <label for="mobile">Mobile</label>
        <input type="number" name="name" id="mobile">
        
        <label for="name">Amount:</label>
        <input type="number" name="amt" id="amount">
        
        <label for="gift">Gift:</label>
        <input type="number" name="name" id="gift"> 
    </form>
</body>
</html>