@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


#myInput{
    font-family: 'Poppins', sans-serif;
    margin-left: 343px;
}
body{
    background-color: green;
}
#unique{
    color: yellow;
}